[Unit]
Description=Trento agent service
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/trento-agent start
Type=simple
User=root
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
